<%= form_for(@illness) do |f| %>
  <div class="field">
    <%= f.label :end %>
    <%= f.date_select  :end, :discard_year => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
