<div id="plaguemap" style="position: relative;">
  <img src="https://map-old.csh.rit.edu/floorplan.gif"/>
  <div id="r3051" class="RoomFill" style="position: absolute; background: rgba(187,255,187,0.8);">
  </div>
</div>
